.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
  }

  .signup-button-container {
    display: flex;
    text-align: center;
    gap: 0.5rem;
    flex-direction: column;
  }
}
